
#chartContainer {
  height: 255px;
  margin-top: -255px;
  margin-left: 0;
  box-shadow: 0 0 5px lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
