<div class="container mt-lg-5">
  <div class="row">
    <div class="col-md-2">
      <div class="card card-1 text-white">
        <span><i class="fa-solid fa-wallet fa-2xl icon"></i></span>
        <span><i class="fa-solid fa-ellipsis-vertical ellipsis"></i></span>
        <p class="title-small">Balance</p>
        <p class="h4 mb-3"><span>&#36; </span>4369.34</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card-2">
        <span><i class="fa-solid fa-hand-holding-dollar fa-2xl icon"
            style="color: #2947aa"></i></span>
        <span><i class="fa-solid fa-ellipsis-vertical ellipsis"></i></span>
        <p class="title-small">Income</p>
        <p class="h4"><span>&#36; </span>347.89</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card-3">
        <span><i class="fa-solid fa-piggy-bank fa-2xl icon"
          style="color: #2947aa"></i></span>
        <span><i class="fa-solid fa-ellipsis-vertical ellipsis"></i></span>
        <p class="title-small">Savings</p>
        <p class="h4"><span>&#36; </span>2897.12</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card card-4">
        <span><i class="fa-solid fa-arrow-down-wide-short fa-2xl icon"
            style="color: #2947aa"></i></span>
        <span><i class="fa-solid fa-ellipsis-vertical ellipsis"></i></span>
        <p class="title-small">Expenses</p>
        <p class="h4"><span>&#36; </span>250.67</p>
      </div>
    </div>
    <div class="col-md-4">
      <app-mycards></app-mycards>
    </div>
    <div class="row">
      <div class="col-md-5">
        <app-fill-graph></app-fill-graph>
      </div>
      <div class="col-md-3">
        <app-donut-chart></app-donut-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <app-transactions></app-transactions>
      </div>
      <div class="col-md-4">
        <app-quick-transfer></app-quick-transfer>
      </div>
    </div>
  </div>
</div>



