<div class="card card-5">
  <strong class="m-1 mx-3">My Cards</strong>
  <img
    src="../../../assets/Card.png"
    alt=""
    class="shadow-lg"
    height="160"
    class="m-2 mt-3 ms-3"/>
  <span><i class="fa-solid fa-ellipsis-vertical ellipsis"></i></span>
  <div class="card card-6">
    <p class="p-left mb-2">Your Balance</p>
    <p>
      <span class="p-left"><strong>&#36; 4369.34</strong></span>
      <span class="p-left"><i class="fa-solid fa-arrow-up" style="color: #92c17b"></i>
        <small class="p-left">9.14%</small></span>
      <span class="p-left"><i class="fa-solid fa-arrow-down"
        style="color: orangered"></i>
        <small class="p-left">8.39%</small></span>
    </p>
    <hr>
    <span class="p-left">Currency <br /><b>USD/US Dollar</b> </span>
    <span class="p-auto">Status <br />
      <b>Active</b></span>
  </div>
  <button type="button" class="btn btn-light text-primary btn-lg mt-3">
    + Add New Card
  </button>
</div>
