.card {
  padding: 5px;
  width: 100%;
  outline: none;
  box-shadow: 0 0 5px lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .card-5 {
    width: 90%;
    height: 450px;
  }
}

@media (min-width: 768px) {
  .p-left {
    padding-left: 15px;
    margin-bottom: -3px;
  }
}

@media (min-width: 768px) {
  .card-6 {
    width: 90%;
    height: 140px;
    margin-top: 10px;
    margin-left: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px lightblue;
    padding-top: -10px;
  }
}

@media (min-width: 768px) {
  hr {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

@media (min-width: 768px) {
  .p-auto {
    padding-left: 170px;
    margin-top: -45px;
  }
}

@media (min-width: 768px) {
  .ellipsis {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media (min-width: 768px) {
  .btn-lg {
    width: 90%;
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  img {
    width: 90%;
  }
}
