<div class="chart-container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span>All Expenses</span>
        </div>
        <div class="card-body">
          <div id="donut-chart"></div>
        </div>
        <div class="card-footer">
          <ul>
            <p class="footer-left">
              <span><li>Shopping</li></span>
              <span><li>Workspace</li></span>
            </p>
            <p class="footer-right">
              <span><li>Food</li></span>
              <span><li>Entertainment</li></span>
            </p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
