  <div class="card ms-3">
    <div class="card-body">
      <p class="title ms-2">Quick Transfer</p>
      <div>
        <img
          src="../../../assets/pic-4.png"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <img
          src="../../../assets/pic-5.jfif"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <img
          src="../../../assets/pic-6.png"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <img
          src="../../../assets/pic-7.png"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <img
          src="../../../assets/pic-8.jfif"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <img
          src="../../../assets/pic-9.png"
          alt=""
          width="30"
          height="30"
          class="rounded-5 mx-2"
        />
        <i class="fa-solid fa-chevron-right mx-1"></i>
      </div>
      <form >
        <div class="form-group">
          <label class="m-3 mx-2">Card Number</label>
          <input
            type="text"
            placeholder="0818 7183 0713 2514        VISA" class="form-control"/>
            <button class="btn btn-blue text-white form-control">Send Money</button>
            <button class="btn btn-light form-control ">Save as Draft</button>
        </div>
      </form>
    </div>
  </div>
